.anmeldelsersection {
    margin-top: 1em;
    padding: 1em;
    border-top: solid 1px lightgrey;
    h5 {
        font-weight: 800;
        font-size: 1.2em;
    }
    .styledp {
        color: var(--primarycolor);
        padding-top: 0.5em;
    }
    
}