@import "../../helpers.module.scss";

.detailsfigure {
    display:grid;
    grid-template-columns: 30% 70%;
    border: solid 0.1em var(--secondarycolor);
    padding: 1em;
    figcaption {
        padding:1em;
        h4 {
            @include h4;
            margin-bottom: 1em;
        }
        p {
            color: var(--primarycolor);
            white-space: pre-wrap;
        }
    }
}
.seallebutton {
    @include seAllebutton;
}

//MEDIAQUERIES MOBIL
@media only screen and (max-width: 750px) {
    .detailsfigure {
        display: block;
        img {
            width:50vw;
            height:50vw;
            margin:auto;
            display: block;
        }
        figcaption {
            h4 {
                font-size: 3em;
                text-align: center;
                margin-bottom: 0.5em;
            }
        }
        
    }
    .seallebutton {
        margin-left: 20vw;
        width: 50vw;
    }
}