@import "../../helpers.module.scss";

.anmeldelseform {
    position: relative;
    background-color: var(--secondarycolor);
    padding:1em;
    p {
        padding: 0.5em 1em 0 0;
    }
    input, textarea {
        width:40vw;
        margin-top:1em;
        font-size: 1em;
    }

    .anmeldelseSENDbtn {
        position: absolute;
        right:-6vw;
        top:18vh;
        @include købbilletbutton;
        border-radius: 4px;
        margin-top:1em;
    }
    span {
        color:black;
        font-weight: bold;
    }
    .anminput {
        width:40vw;
    }
    .anmeldelseEDITbtn{
        @include købbilletbutton;
            border-radius: 4px;
            margin-top: 1em;
            position: absolute;
            right:41vw;
            top:18vh;
    }
}