.react-confirm-alert {
    text-align: center;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondarycolor);
    padding:3em;
    button {
        padding:0.5em 1em 0.5em 1em;
        margin:1em;
    }
}