.searchform {
    text-align: right;
    input,
        button {
            border: none;
            border-bottom: solid 1px lightgrey;
            background-color: transparent;
            padding: 0.5em;
        }
        .searchbutton {
            cursor: pointer;
            svg {
                color: var(--tertiarycolor);
            }

        }
}

//MEDIAQUERIES MOBIL
@media only screen and (max-width: 750px) {
    .searchform{
        margin-top: -10vh;
    }
}