header {
    display: grid;
    grid-template-columns: 40% 60%;
    padding-top: 1em;
    .headerrightside {
        text-align: right;
        input, button {
            border:none;
            border-bottom: solid 1px lightgrey;
            background-color: transparent;
            padding:0.5em;
            color: var(--tertiarycolor);
        }
        button {
            cursor: pointer;
        }
    }
}