footer {
    background-color: var(--tertiarycolor);
    color:white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding:2em;
    p{
        cursor: pointer;
    }
    h3 {
        margin-bottom: 0.5em;
    }
    svg {
        height:2.5em;
        width:2.5em;
        cursor:pointer;
        color:white;
    }
}