@import "../../helpers.module.scss";

//HERO style - figure vandret
.herofigurewrapper{
    figure {
        display: grid;
        grid-template-columns: 40% 60%;
        border: solid 0.1em var(--secondarycolor);
       .image {
        @include figureimage;
       }
       figcaption {
        @include figcaption;
        margin-top: 15vh;
        p {
            padding:1vh;
            text-transform: uppercase;
            font-size: 1.2vw;
        }
        .dates {
            font-weight: bold;
        }
        h3 {
         @include h3;
        font-size: 3.5vw;
        font-weight: 500;
        }
        h4 {
            @include h4;
        }
       }
    }
}

// figure lodret
.verticalfigurewrapper{
    figure {
        border: solid 0.1em var(--secondarycolor);
        .image {
            width:100%;
            height:45vh;
            @include figureimage;
            }
        figcaption {
            @include figcaption;
            h3 {
                @include h3;
            }
            h4 {
                @include h4;
            }
            .dates {
                font-weight: bold;
            }
            p {
                text-transform: uppercase;
                font-size: 1.2vw;
            }
            button {
                @include button;
                margin:1em 0 0 1em;
            }
            .læsmerebutton {
                background-color: var(--tertiarycolor);
            }

            .købbilletbutton {
                background-color: var(--primarycolor);
                &:hover {
                    background-color: var(--secondarycolor);
                }
            }
        }
    }
}

//oversigt figure style
.oversigtfigurewrapper{
    figure {
        border: solid 0.1em var(--secondarycolor);
        display: grid;
        grid-template-columns: 13% 87%;
        margin-bottom: 0.7em;
        .image {
            width:8em;
            height:8em;
            @include figureimage;

        }
        figcaption {
            display:grid;
            grid-template-columns: 25% 45% 30%;
                h3 {
                    @include h3;
                    border-right: solid 1px lightgrey;
                    margin:0.5em 0.5em 0.5em 0;
                }
                h4 {
                    @include h4;
                }
                .dates {
                    font-weight: bold;
                }
                .ptag{
                    margin-top: 2em;
                    p {
                        text-transform: uppercase;
                        font-size: 1.2vw;
                    }
                }
                
            button {
                    @include button;
                    margin: 3em 0 0 1em;
                }
                .læsmerebutton {
                    background-color: var(--tertiarycolor);
                }
                .købbilletbutton {
                    background-color: var(--primarycolor);
                    &:hover {
                            background-color: var(--secondarycolor);
                        }
                }
        }
    }
}

