@import "../../helpers.module.scss";
 
.minsidesection {
    .uppersection {
        display: flex;
        justify-content: space-between;
        margin-top:1em;
        border: solid 1px var(--primarycolor);
        padding:1em;
        h3 {
            @include h3;
            font-size: 3.3vw;
        }
        button {
            @include købbilletbutton;
            margin: 1em 1em 0 7em;
            background-color: var(--secondarycolor)
        }
  }
}