@import "../../helpers.module.scss";
 
.minsidewrapper {
        border: solid 1px var(--primarycolor);
    .uppersection {
        display: flex;
        justify-content: space-between;
        margin-top:1em;
        padding:1em;
        h3 {
            @include h3;
            font-size: 3.3vw;
        }
        button {
            @include købbilletbutton;
            margin: 1em 1em 0 7em;
            background-color: var(--secondarycolor)
        }
  }
 h4 {
    @include h4;
 }
 svg {
    color: var(--secondarycolor);
    margin:1em 0.5em 0 1em;
 }
}

//MEDIAQUERIES MOBIL
@media only screen and (max-width: 750px) {
    .minsidewrapper {
        .uppersection{
            h3 {
                    font-size: 2em;
                }
        }
        
        h4 {
            font-size: 1.5em;
        }
    }
}